<h2>Lista do curso template</h2>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cód.</th>
            <th>Release</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curs of curses">
                <th> <img [src]="curs.imageURL" style="width: 60px;height: auto;" />   </th>
                <th>{{curs.name}}</th>
                <th>{{curs.price}}</th>
                <th>{{curs.code}}</th>
                <th>{{curs.releaseDate}}</th>
                <th>
                    <app-star [rating]="curs.rating"></app-star>
                </th>
                

            </tr>

        </tbody>
   


</table>